.header {
  text-align: center;
  justify-content: center;
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-repeat: no-repeat;
  text-transform: uppercase;
  color: white;
  height: 800px;
  background-size: cover;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1460px;
  }
}


h1 {
  margin-top: 30px;
  font-size: 50px;
  margin-bottom: 30px;

}

#logo {
  margin-top: 250px;
}

#icon {
  margin-top: 160px;
}

.about {
  text-align: center;
  justify-content: center;
  padding-top: 40px;

}

.services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  justify-content: center;
  padding-top: 150px;
  margin-top: 40px;
  height: 400px;
}


#whatwedo {
  text-align: center;
  align-items: center;
  margin-top: 40px;
  padding: 0 10% 0 10%;

}

.row {
  text-align: center;
  margin-top: 40px;
}


#Z {
  display: none;

}

#D {
  display: none;

}

#N {
  display: none;
}

#portfolio {
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

.imgtext {
  position: absolute;
  font-size: 20px;
  width: 50%;
  height: 50%;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  text-align: justify center;
  padding: 3px;
  display: none;
}

.hover {
  position: relative;
  overflow: hidden;
}

.contact {
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  margin-top: 40px;
  height: auto;
  padding-top: 80px;

}

form {
  margin: 20px 15% 20px 15%;
}

textarea {
  height: 250px;
  margin-bottom: 10px;
}

input[type=text],
input[type=email] {
  width: 100%;
  margin-bottom: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

textarea {
  width: 100%;
  margin-top: 15px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

::placeholder {
  color: white;
  opacity: 1;
}

#social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#social {
  display: block;
  margin-top: 40px;
  padding-top: 150px;
  color: black;
  text-transform: uppercase;


}