.header {
    text-align: center;
    justify-content: center;
    background-image:url(/assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: white;
    margin: 60px;
    padding: 40px;
    padding-bottom: 700px;
    padding-top: 310px;
}

.about {
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
    margin: 60px;
}
.services {
    background-image: url(/assets/backgrounds/s_image.jpg);
    padding-bottom: 600px;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    justify-content: center;
    padding-top: 160px;
    margin: 60px; 

}
.whatwedo  {
    text-align: center;
    display: inline-flex;
    align-items: center;
    
}

.portfolio {
    align-items: center;
    text-align: center;
    justify-content: center;

    
}

.contact {
    background-image: url(/assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    padding-bottom: 600px;
    padding-top: 50px;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 60px;
}

#name {
    float: left;
    margin: 50px
}

#email {
    float: right;
    margin: 50px;

}

#message {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 90px;
    
}

#social ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.footer {
    text-transform: uppercase;
    text-align: center;
}