.header {
  text-align: center;
  justify-content: center;
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-repeat: no-repeat;
  text-transform: uppercase;
  color: white;
  padding: 40px;
  padding-bottom: 700px;
  padding-top: 310px;
}

.about {
  text-align: center;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 0 auto;

}
.services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  padding-bottom: 600px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  justify-content: center;
  padding: 170px;

}

.whatwedo {
  align-items: center;
}


#Z {
  display: none;
  
}
#D {
  display: none;
  
}

#N {
  display: none;
}

#portfolio {
  text-align: center;
  justify-content: center;
}

.imgtext {
  position: absolute;
  width: 50%;
  height: 50%;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  text-align: justify;
  padding: 3px;
  display: none;
}

.hover {
  position: relative;
  overflow: hidden;
}

.contact {
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-repeat: no-repeat;
  padding-bottom: 600px;
  padding-top: 50px;
  color: white;
  text-align: center;
  justify-content: center;

}

#name {
  float: left;
  margin: 50px;
}

#email {
  float: right;
  margin: 50px;
}

#message {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 90px;
}

#social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  text-transform: uppercase;
  text-align: center;
}
